* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background: black;
}

.container {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#canvas1 {
    border: 5px solid white;
}  

.controls {
    display: flex;

}

.controls > input {
    width: 70%;
}
.controls > label {
    /* border: 2px solid white; */
    width: 25%;
    color: white;
    font-size: 15px;
}